.left-part {
  position: relative;
  flex: 1.7;
  border-radius: 24px;
  padding: 25px 35px;

  background: url(../assets/images/default-image.jpg) no-repeat center;
  background-size: cover;
  color: var(--white);

  display: flex;
  flex-direction: column;
  gap: 150px;
}

.upper-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 400;
  font-size: 1.4rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);

  cursor: default;
}

.location-container {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 9px;

  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 15px;

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);

  cursor: default;
}

.location-icon {
  background: url(../assets/icons/location-icon.svg) no-repeat center;
  background-size: 100%;
  width: 25px;
  height: 25px;
}

.location-text {
  font-weight: 300;
  font-size: 0.6rem;
  margin-bottom: 3px;
}

.location-place {
  font-weight: 400;
  font-size: 0.9rem;
}

.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-text {
  font-size: 1.7rem;
  margin-bottom: 5px;

  cursor: default;
}

.line {
  height: 4px;
  width: 40%;
  background: var(--white);
  border-radius: 1px;

  margin-bottom: 20px;
}

.search-input-container {
  position: relative;
  width: 350px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#search {
  border: none;
  background: rgb(255, 255, 255, 0.25);
  height: 40px;
  width: 350px;
  border-radius: 6px;
  color: var(--white);

  padding: 5px 10px;
}

#search:focus {
  outline: none;
  border: 1px solid var(--white);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

#search::placeholder {
  color: var(--white);
}

.search-icon {
  position: absolute;
  background: url(../assets/icons/search-icon.svg) no-repeat center;
  background-size: 70%;
  height: 30px;
  width: 30px;
  right: 10px;
  z-index: 10;
  border-radius: 6px;

  cursor: pointer;
}

.search-icon:hover {
  background-color: rgb(255, 255, 255, 0.25);
}
