.right-part {
  position: relative;
  flex: 1;
  border-radius: 24px;
  padding: 25px 35px;

  background-color: var(--white);

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 40px;

  cursor: default;
}

.date {
  font-weight: 700;
  font-size: 2.1rem;
}

.temperature-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.temperature-info-container {
  display: flex;
  flex-direction: column;
}

.temperature-number {
  font-weight: 700;
  font-size: 3rem;
}

.weather-condition {
  font-weight: 300;
  font-size: 1.6rem;
}

.weather-icon {
  height: 120px;
  width: 120px;
  z-index: 1;
}

.additional-weather-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}

.additional-info-item {
  display: flex;
  align-items: center;
}

.additional-info-icon {
  height: 25px;
  width: 25px;

  margin-right: 10px;
}

.feels-like-icon {
  background: url(../assets/icons/realfeel-icon.svg) no-repeat;
  background-position: left;
  background-size: cover;
}

.humidity-icon {
  background: url(../assets/icons/humidity-icon.svg) no-repeat;
  background-position: left;
  background-size: cover;
}

.wind-icon {
  background: url(../assets/icons/wind-speed-icon.svg) no-repeat;
  background-position: left;
  background-size: cover;
}

.additional-info-text,
.additional-info-number {
  color: var(--dark-gray);
}

.additional-info-text {
  margin-right: 5px;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.spin {
  position: absolute;
  left: 50%;
  right: 50%;
}
.spin::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  content: "";
  height: 80px;
  width: 80px;
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}
